
@{
    ViewData["Title"] = "Shopping Cart";
}

@section Scripts
{ 
    <script type="text/javascript" src="~/js/cart.js"></script>
}

@model CartViewModel

<h1>Shopping Cart</h1>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price per unit</th>
        <th>Currency</th>
        <th>Subtotal</th>
        <th></th>
    </tr>
    @if (Model.Products.Count > 0)
    {
        @foreach (var element in Model.Products)
        {
            <tr id="row-@element.Id">
                <td><a asp-controller="Product" asp-action="Details" asp-route-productId="@element.Id">@element.Name</a></td>
                <td><input type="number" value="@Model.Cart.Items[element.Id]" class="form-control" min="0" oninput="this.value = Math.abs(this.value)" onchange="testFunc(event)" data-id="@element.Id"/></td>
                <td id="price-@element.Id">@element.DefaultPrice</td>
                <td>@element.Currency</td>
                <td id="subtotal-@element.Id">@(element.DefaultPrice * Model.Cart.Items[element.Id])</td>
                <td>
                    <a class="nav-link text-dark" style="cursor: pointer;" onclick="removeItem(event)" data-id="@element.Id">
                        <i class="bi bi-x-square text-danger"></i>
                    </a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td align="center" colspan="5">No items in cart</td>
        </tr>
    }
    <tr>
        <td colspan="3"></td>
        <th>Total price</th>
        <td id="totalPrice">@Model.Products.Sum(product => product.DefaultPrice * Model.Cart.Items[product.Id])</td>
        <th></th>
    </tr>
</table>
<a type="button" class="btn btn-primary float-right @(Model.Products.Count == 0 ? "disabled" : "")" asp-controller="Cart" asp-action="Checkout">Checkout</a>

